*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* outline: 1px solid red; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 70px;
}


/* header -------------------------------------------------------------*/

.header {
    background-color: #E506AA;

    /* sticky */
    position: sticky;
    top: 0;
    z-index: 1000;

    /* trransition чтобы цвет менялся плавно */
    transition: background-color 0.3 ease;
}

.header-padding {
    padding: 20px 0;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* для изменения цвета. для java script */
.header.scrolled{
    background-color: rgba(251, 239, 244, 0.9);
    
}

.header.scrolled .header-logo a {
    color: #E506AA;
    text-shadow: none;
}

.header.scrolled .nav a{
     color: #E506AA;
}

.header a {
    color: white;
    font-size: 12px;

}

.header .header-logo a{
    font-size: 15px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}



.header nav {
    display: flex;
    gap: 24px;

}

.header nav a{
    transition: 0.3s;
}

.header nav a:hover{
    color: #e4c3dc;
    transform: translateY(-2px);
}


/* hero------------------------------------- */

.hero{
    position: relative;
    height: 600px;
    overflow: hidden;
    
}

.hero .hero-background {
    background-image: url("figma-export/hero-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    
    position: absolute;
    inset: 0;
   
}



.hero-padding {
    
    padding-top: 250px;

    color: white;
}

.hero-flex{
    display: flex;
    flex-direction: column;
    
    gap: 40px;
}

.hero .hero-title h1{
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    font-size: 90px;
}
.hero-title{
    max-width: 550px;
    height: 80px;
}

.hero-button{
    height: 25px;
    width: 290px;
    color: white;

    font-size: 14px;
    

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: none;
    background-color: #E506AA;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    
}

.hero-button:hover{
    transform: translateY(-3px);
}


/* about------------------------------------ */

.about-padding{
    padding: 150px 0;
    
}

.about-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.about-img{
    width: 350px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.title-pink{
    font-family:"Alex Brush", cursive;
    color: #E506AA;
    font-size: 32px;
    font-weight: 400;
    
}

 

.about-content-text{
    width: 500px;
}

.button-pink{
    width: 200px;
    height: 25px;
    background: #E506AA;
    color: white;
    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    
}

.button-pink:hover{
    transform: translateY(-3px)
}

/* top-places */

.top-places{
    display: flex;
    flex-direction: column;
    /* padding: 180px 0; */
    gap: 20px;
}

.top-places-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.top-places-action a{
    color: #333;
    font-size: 12px;
}

.top-places-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    
}

.top-places .card img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    transition: 
        transform 0.3s ease;
}

.top-places .card img:hover{
    transform: translateY(-5px);
}

.top-places-section .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}



.top-places .card h3{
    font-size: 24px;
    

}

.top-places .card p{
    font-size: 12px;
    margin-top: -20px;
    color: #E506AA;
}

/* experiences */

.experiences{
    padding: 150px 0;
}

.experiences-header{
    padding: 20px 0;
}


.experiences .experiences-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.experiences .card{
    width: 100%;
    height: 450px;
    color: white;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    transition: 
        transform 0.3s ease;
}

.experiences .card:hover{
    transform: translateY(-5px);
}

.experiences .experiences-card-one{
    background-image: url("figma-export/best-experiences/mountains.jpg");
    background-size: cover;
}

.experiences .experiences-card-two{
    background-image: url("figma-export/best-experiences/MEJORES-PLAYAS.jpg");
    background-size: cover;
}

.experiences .card h3{
    font-weight: 400;
    font-size: 16px;
}

.experiences .card p{
    font-size: 12px;
}

/* background-section */

.background-section{
    background-image: url(figma-export/section-big-foto-island.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 700px;

    margin: 100px 0;
}

/* text */

.text{
    padding: 100px 0;
}

.text-flex-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
}

.text h2{
    font-family:"Alex Brush", cursive;
    color: #E506AA;
    font-size: 32px;
}

.text p{
    max-width: 700px;
    
}

/* gallery */

.gallery{
    padding: 80px 0;
    position: relative;
}

.gallery .gallery-background{
    background: #fc4bd0;
    width: 100%;
    height: 300px;
    padding: 200px;

    position: absolute;
    left: 0;
    top: 380px;
    z-index: 0;
   
}

.gallery .container{
    position: relative;
    z-index: 1;
}

.gallery .title-pink{
    padding: 30px;
}

.gallery-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 10px;
}

.gallery .card img{
    
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    
}

.gallery .card{
    position: relative;
    transition: 
        transform 0.3s ease;
}

.gallery .card:hover{
    transform: translateY(-5px);
}

.gallery .card h3{
    position: absolute;
    bottom: 20px;
    left: 20px;

    color: white;
    font-weight: 400;
    font-size: 14px;
}

.gallery .card-one{
    grid-row: 1 / 3;
    
}

.gallery .card-two{
    grid-column: 2 / 4;
    
}

.gallery .card-five{
    grid-row: 2 / 4;
}

/* footer */

.footer{
    padding: 0 50px ;
    margin-top: 80px;
    background: #E506AA;
    color: white;
    font-size: 12px;
    

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-items: center;
}

.footer-header{
    border-bottom: 1px solid white;
    padding: 30px 0;
    width: 100%;
}
.footer-header p{
    text-align: center;
}

.footer h3{
    text-align: center;
    font-weight: 400;
}

.footer .footer-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 280px;
}

.footer-flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer.footer{
    padding-bottom: 30px;
}